<div class="authorPage">
  <h2>Page profil de : <%= @author.first_name %> <%= @author.last_name %></h2>
  <div class="authorDescription">
    <p><b>Biographie:</b> <%= @author.description %></p>
    <p><b>Adresse email:</b> <%= @author.email %></p>
    <p><b>Age:</b> <%= @author.age %> y.o</p>
  </div>
</div>
