<h2>This is the page of a gossip author</h2>
<h5><%= @author.first_name %> <%= @author.last_name %></h5>
        <p class="card-text">About me : <%= @author.description %></p>
            <p class="card-text">Email adress : <%= @author.email %></p>
            <p class="card-text">Age : <%= @author.age %>y.o</p>
