<div class="formContainer">
   <div class="form">
<h2> Modifier : <%= @gossip.title %> </h2>

    <%= form_for @gossip do |f| %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="formItem">
        <p><%= label_tag 'Titre' %></p>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="formItem">
        <p><%= label_tag 'Contenu' %></p>
        <%= f.text_area :content, class: 'form-control' %>
      </div>

      
      <div"><%= submit_tag "Mettre à jour" %></div>
    <% end %>

</div>
</div>