<div class="d-flex justify-content-center mt-5">
    <%= form_tag url_for(action: 'create'), method: "post" do %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div>
        <p><%= label_tag 'Gossip title' %></p>
        <%= text_field_tag 'title', @gossip.title %>
        <br /> <br />
      </div>

      <div>
        <p><%= label_tag 'Content' %></p>
        <%= text_area_tag 'content', @gossip.content %>
      </div>

      <div><%= submit_tag "Create gossip" %></div>

    <% end %>
  </div>