<div class="formContainer">
    

    <div class="form">
        <%= form_with model: @user, url: registration_index_path, local: true do |f|%>
            <h1>Création de compte :</h1>
                
                    <div class="formItem">
                        <%= f.label :nom %>
                        <%= f.text_field :first_name, class:"form-control" %>
                    </div>
                    <div class="formItem">
                        <%= f.label :prénom %>
                        <%= f.text_field :last_name, class:"form-control" %>
                    </div>
                    <div class="formItem">
                        <%= f.label :age %>
                        <%= f.text_field :age, class:"form-control" %>
                    </div>
        

            <div class="formItem">
                <%= f.label :description %>
                <%= f.text_field :description, class:"form-control" %>
            </div>

            <div class="formItem">
                <%= f.label :adresse_email %>
                <%= f.text_field :email, class:"form-control" %>
            </div>

            <div class="formItem">
                <%= f.label :ville %>
                <%= f.text_field :city, class:"form-control" %>
            </div>

            <div class="formItem">
                <%= f.label :mot_de_passe %>
                <%= f.password_field :password, class:"form-control" %>
            </div>

            <div class="formItem">
                <%= f.label :confirmation_de_mot_de_passe %>
                <%= f.password_field :password_confirmation, class:"form-control" %>
            </div>

            <div class="formItem">
                <%= f.submit "register" %>
            </div>
        <% end %>
        
    </div>
</div>