<!DOCTYPE html>
<html>
  <head>
    <title>AppOlivia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'GOSSIP.png' %>
  </head>

  <body>
  <nav id="navbar">
    <div id="logoDiv">
      <%= link_to root_path do %>
        <%= image_tag 'GOSSIP.png', alt: 'Logo', class: 'logo' %>
      <% end %>
    </div>
    <div id="navlinks">
      <% if logged_in? %>
        <a href="/author/<%= current_user.first_name %>">Profil</a>
        <a href="/logout">Se déconnecter</a>
          <% else %>
          <a href="/registration/new">Inscription</a></h2>
          <a href="/session/new">Connexion</a></h2>
      <% end %>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
